.App {
    display: block;
    text-align: center;
    width: 900px;
    margin: 0 auto;
}

.container {
    display: flex;
    width: 900px;
    margin: 20px 0;
    flex-direction: column;
}

.tabs {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: #f9fff9;
    border: 1px solid #ccc;
    color: black;
    cursor: pointer;
}

.tab__active {
    background-color: #4CAF50;
    color: white;
}

.file-uploader {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px;
}

.button__disabled {
    background-color: #ccc;
    cursor: default;
}

.button__disabled:hover {
    background-color: #ccc;
}

.file-uploader input[type='file'] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.custom-file-upload:hover {
    background-color: #f1f1f1;
}


button:hover {
    background-color: #45a049;
}


.forms {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
